.wrap {
  margin: 0 10%;
}
.actions-button-wrap {
  display: flex;
  flex-direction: row;
}
.actions-button {
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}
.modal-wrap {
  min-width: 300px;
  min-height: 300px;
  z-index: 12;
  background-color: #eee;
  position: absolute;
  margin-left: calc(50% - 150px);
  margin-top: 200px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-title {
  margin: 10px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-item-wrap {
  display: flex;
  width: 318px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding:  10px;
  margin: 10px;
  border: 2px solid black
}
.footer-images {
  width: 80px;
  height: 80px;
}